absl-py>=1.4.0
astor>=0.8.1
gast>=0.4.0
google-pasta>=0.2.0
grpcio>=1.56.0
h5py>=3.9.0
Keras-Applications>=1.0.8
Keras-Preprocessing>=1.1.2
Markdown>=3.4.3
numpy>=1.23.5
opencv-python>=4.8.0.74
Pillow>=10.0.0
protobuf>=4.23.3
PySide6>=6.5.1.1
scipy>=1.11.1
shiboken2>=5.13.2
six>=1.16.0
tensorboard>=2.12.3
tensorflow-estimator>=2.12.0
tensorflow>=2.12.0
termcolor>=2.3.0
tf_slim>=1.1.0
Werkzeug>=2.3.6
wrapt>=1.14.1
